{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "import"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["warn"],
    "no-undef": "warn"
  },
  "env": {
    "browser": true
  }
}
