{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "import"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["off"],
    "no-undef": "off"
  },
  "env": {
    "browser": true
  },
  "ignorePatterns": ["./src/guac/build/*.js"]
}
