{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "import"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "prettier/prettier": ["warn"],
    "no-undef": "warn",
    "no-unused-vars": "warn",
    "import/no-relative-packages": "off"
  },
  "env": {
    "browser": true
  }
}
